.link,
a:hover,
a:focus,
html body .text-primary,
.contact-data .icon,
.swiper-container-inner .swiper-button-next:before,
.swiper-container-inner .swiper-button-prev:before {
  color: #ed145b;
}

.btn-primary:after,
.btn-default,
.btn-default:focus,
.btn-default:active,
.icon-primary,
.marked-list li:before,
.main-arrow-next:after, .main-arrow-prev:after,
.swiper-pagination-bullet.swiper-pagination-bullet-active,
#page-preloader,
.iso .button:after,
#style-switcher .toggle-switcher,
.slider-header .icon {
  background: #ed145b;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.form-control:hover,
.form-control:focus,
.swiper-pagination-bullet,
.text-marked {
  border-color: #ed145b;
}

.swiper-container-inner img {
  box-shadow: 0 2px 25px 0 #ed145b;
}

