*{
    box-sizing: border-box;
}

html > body{
    background-color: #ecf7fd;
}

#footer {
    display: grid;
    grid-template-columns: auto 60px;
    height:40px;
    align-items: center;
    background-color: #01ace0;
    color:white;
}


#footer .global-info {
    font-size: 14px;
    padding:0 6px;
    font-weight: bold;
}

#footer .global-info:before {
    content:attr(data-coppy-right);
}

#footer .call-me{
    display:none;
}

.chat-zalo>.zalo-chat-widget{
    top:unset !important;
    bottom:60px !important;
}

.soc-contacts li{
	list-style: none;
    float: left;
    padding-right: 10px;
}
a{
	text-decoration:none !important;
}
#layout,
#main {
    position: relative;
}

.custom-title{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width:90%;
    height:20px;
}
.custom-content{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width:85%;
    height:40px;
}
.custom-content p span{
	text-align: left;
	margin-left: -25px;
}
.custom-content p{
	text-align: left;
	margin-left: -30px;
    }
.collapsible {
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #71c9ef;
}

.content {
  padding: 0 5px;
  display: none;
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

#bannerList li {
    width: 100%;
}

#bannerList li img {
    width: 100%;
}

.top-product-container{
    display: grid;
    grid-template-areas: "a a a";
    grid-auto-columns: 3fr;
    grid-gap: 10px;
    margin:10px 0;
}

.product-wrapper .product{
    display: grid;
    grid-template-areas: "a a";
    grid-auto-columns: 2fr;
    height: 150px;
    border:8px solid white;
    background-color: #189dd9;
    overflow: hidden;
}

.product-img{
    height:100%;
    width:100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.product-img img{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 40%;
    background: WHITE;
}

.product-des{
    color:white;
    padding: 4px;
}

.product-des > .title {
    font-size: 16px;
    font-weight: bold;
}

.current{
    background: red;
}
.fb_customer_chat_bubble_animated_no_badge{
    right: 8pt !important;
    bottom: 50pt !important;
}
.call-now{
    display: none;
}
/*Strip the ul of padding and list styling*/
#menu {
    height:60px;
    display: grid;
    grid-template-columns:120px 120px 120px 120px 120px auto 200px;
    overflow: hidden;
}
/*Create a horizontal list with spacing*/
#menu li {
    display:inline-block;
    margin-right: 1px;
}
/*Style for menu links*/
#menu a {
    display:block;
    text-align: center;
    line-height: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    /*background: #2f3036;*/
    text-decoration: none;
    font-size:17px;
}

.form-global-search{
    padding:8px 6px 8px 0;
}

.form-global-search > input {
    height: 100%;
}
/*Hover state for top level links*/
#menu li:hover a {
    /*background: #19c589;*/
}
/*Style for dropdown links*/
#menu li:hover ul a {
    /*background: #f3f3f3;*/
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
ul li:hover  ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
#menu li ul {
    display: none;
}
/*Make dropdown links vertical*/
#menu li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
#menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
#menu ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
.custom-search{  
    width: 200px !important;
    margin-left: 50px;
}
#sideLeft{
    background: unset !important;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

#mobile-navigation {
    display: none;
}


#product-container {
    margin:10px 0;
    display: flex;
    flex-wrap : nowrap;
    align-items:stretch;
}

#product-container .product-category-part{
    flex:1;
    border:8px solid white;
    background-color:#ccecf9;
}

#product-container .product-list-part {
    flex:2;
    padding:0 10px;
}

#product-container .product-list-part .list-product-container{
    background-color: white;
    padding:10px;
}

.list-product-container>.list-product-wrapper{
    display: flex;
    flex-wrap : nowrap;
    margin-bottom: 30px;
}

.list-product-wrapper>.img-container {
    flex-basis:120px;
    width:100%;
} 

.img-container > img{
    width:100%;
}

.list-product-wrapper>.info {
    flex-grow:1;
    min-height: 50px;
    padding:0 15px;
}

.list-product-wrapper>.info>.title{
    margin-top: -2px;
    font-size: 15px;
    font-weight: bold;
    color: #189DD9;
}

.list-product-wrapper>.info>.content {
    font-size: 14px;
}

.list-product-wrapper>.info>.detail-link {
    display: block;
    font-size: 13px;
    margin-top:30px;
}

#product-container .contact-part {
    flex:1;
}

#product-container .contact-part .contact{
    background: white;
    padding:14px 20px;
}

*[data-preload-image-url]{
    position: relative;
    text-align: center;
}


*[data-preload-image-url]:not([data-preload-status]):before {
    content:"";
    width:30px;
    height:30px;
    position: absolute;
    top:calc(50% - 15px);
    left:calc(50% - 15px);
    text-align: center;
    background-image:url('../images/loading1.gif');
    background-repeat: no-repeat;
    background-size: 30px;

}

*[data-preload-image-url][data-preload-status="2"]:before {
    content:"No Image";
    vertical-align: middle;
    font-weight: bolder;
    position: absolute;
    display: inline-block;
    width:50px;
    height:50px;
    top:calc(50% - 25px);
    left:calc(50% - 25px);
}

/*Responsive Styles*/

@media screen and (max-width : 920px){
    

    .banner-pagination{
        display: none;
    }

    #bannerList li {
        width: auto;
    }

    #bannerList li img {
        width: auto;
        max-width: unset;
        height: 300px;
    }


    #layout {
        width: auto;
        padding:60px 0;
        
    }

    #navigation{
        width: 100vw;
        height: 100vh;
        margin-left: 0px;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top:0;
        right:-100vw;
        z-index: 99999;
    }
    
    #footer,
    #mobile-navigation {
        width: 100%;
        height: 60px;
        position: fixed;
        right:0;
    }

    #footer{
        bottom:0;
    }

    #footer .global-info:before {
        content: attr(data-address);
    }

    #footer .call-me {
        display: block;
        
        justify-self: center;
    }

    #mobile-navigation{
        background-color:#189dd9;
        top:0;
        display: grid;
        grid-template-columns: auto 60px;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
    }

    #mobile-navigation > *{
        justify-self : center;
    }

    

    .form-global-search{
        box-sizing: border-box;
        width:100%;
        padding: 0 0 0 5px;
    }

    .form-global-search > input{
        height: 50px;
    }

    /*Display 'show menu' link*/
    #show-menu:checked ~ #navigation {
        right:0;   
    }

    #show-menu:checked ~ #main{
        right:200px;    
    }

    #show-menu:checked~#navigation>#mobile-navigation {
        left:unset;
        right:200px;
    }

    .show-menu {
        display:block;
        background: gray;
        padding:12px;
        border-radius:5px;
        width:50px;
        height:50px;
        margin:0;
    }

    .show-menu > span{
        display: block;
        height:2px;
        margin-bottom:9px;
        background-color: white;
    }

    /*Make dropdown links appear inline*/
    #menu {
        height: auto;
        width:200px;
        background-color: #01ace0;
        display:inline-block;
        height:100%;
        position:absolute;
        right:0;
        top:0; 
    }

    #menu > .form-global-search{
        display:none;
    }

    .row{
        margin-right: initial !important;
        margin-left: initial !important;
    }
    .col-xs-6{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .custom-border{
        border: none !important;
        margin-bottom: 10px;
    }
    .call-now{
        display: block;
    }
    
    /*Create vertical spacing*/
    #menu li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    #menu li, li a {
        width: 100%;
    }
    


    .custom-search{  
        width: 100% !important;
        margin-left: 1px !important;
    }
}

@media screen and (max-width : 820px) {
    .product-wrapper .product {
        height: 130px;
    }
}

@media screen and (max-width : 720px) {
    /*resposive product*/
    #product-container {
        display: block;
    }

    .product-category-part {
        min-height: 120px
    }

    #menuTree li {
        float: initial !important;
    }
    .top-product-container {
        grid-template-areas: "a a";
        grid-auto-columns: 2fr;
        grid-gap: 5px;
        padding: 0 5px;
    }

    .product-wrapper .product {
        height: 150px;
    }
}

@media screen and (max-width : 620px) {
    .product-wrapper .product {
        height: 130px;
        border-width: 4px;
    }

    .product-des > .title{
        font-size: 14px;
    }
}

@media screen and (max-width : 520px) {
    .product-wrapper .product {
        height: 100px;
    }
}
 
#calltrap-ico {
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
    border: 0;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
    -o-animation: uptocallmini 1.5s 0s ease-out infinite;
    animation: uptocallmini 1.5s 0s ease-out infinite
}

#calltrap-ico:before {
    background-image: url(http://neptrangtri.vip/public//site/images/Phone.png);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: calltrap_spin 3s infinite linear;
    -moz-animation: calltrap_spin 3s infinite linear;
    -o-animation: calltrap_spin 3s infinite linear;
    animation: calltrap_spin 3s infinite linear
}


@-webkit-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-moz-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-o-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-webkit-keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@-moz-keyframes calltrap_spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@-o-keyframes calltrap_spin {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-overlay .b-calltrap__container {
        width: 290px
    }
}

