.soc-contacts li{
	list-style: none;
    float: left;
    padding-right: 10px;
}
a{
	text-decoration:none !important;
}
.custom-title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	width:100%;
}
.custom-content{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	width:100%;
}