.soc-contacts li{
	list-style: none;
    float: left;
    padding-right: 10px;
}
a{
	text-decoration:none !important;
}
.custom-title{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width:90%;
    height:20px;
}
.custom-content{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width:85%;
    height:40px;
}
.custom-content p span{
	text-align: left;
	margin-left: -25px;
}
.custom-content p{
	text-align: left;
	margin-left: -25px;
}