@charset "utf-8";
/*===global===*/
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin:0; padding:0;}
body,td,th {font-family:Helvetica, Verdana, Arial;font-size: 11px;color: #000;}
body {background:#ecf7fd;}
a:link {text-decoration: none;color: #189DD9;}
a:visited {text-decoration: none;color: #189DD9;}
a:hover {text-decoration: none;color: #D32021;}
a:active {text-decoration: none;color: #189DD9;}
.clear { clear:both; height:0; overflow:hidden;}
img { display:block; border:0;}
.mb { margin-bottom:10px;}
.mr { margin-right:10px;}
.border { border:10px solid #fff;}
h1,h2,h3,h4,h5,h6 { color:#189DD9;margin-bottom:10px;}
h1,h2,h5{ font-weight:normal;}
/*h1,h2 {text-transform:uppercase;}*/
h2 { font-size:16px;}
select,textarea {font-family:Helvetica, Verdana, Arial;font-size: 11px;}
/*===layout===*/
#layout { width:920px; margin:0 auto; padding:0 20px 0 40px;overflow:hidden;}

#mainCon { width:550px; float:left; /*overflow:hidden;*/}
#sidebar { width:300px; float:right; overflow:hidden;}
#mainBanner_twoColumn {font-size:0;line-height:0px;width:590px;}
#mainBanner_twoColumn img { border:10px solid #fff;margin-bottom:10px;}
#mainCon_bottom{background:#fff; padding:5px;width:580px;/*overflow:hidden;*/}
#mainCon_bottom a {color:#D32021; text-decoration:underline;}
#mainCon_bottom a:hover{ background:#D32021; color:#fff;}
#mainCon_bottom:after { content:''; clear:both; display:block; height:0; visibility:hidden;}
#mainCon_bottom p a:hover, #mainContent p a:hover, #mainContent ul li a:hover { background:#D32021; color:#fff;}
/*#mainCon_bottom  ul li { list-style:disc; list-style-position:inside; margin-left:0;}change at 0905081411*/
#mainCon_bottom  ul li { list-style:disc; margin-left:0;}/*change at 0905081411*/
#mainCon_bottom  ul {margin-left: 15px;}

/*===header===*/
#headerTop { margin-top:10px; height:30px; line-height:30px; float:right;}
#topLinks, #language { float:right;}
#topLinks ul { margin:0 20px 0 0 ; overflow:hidden; list-style:none; padding:0;}
#topLinks ul li { float:left; padding:0 7px; background:url(../../images/blueLine.gif) no-repeat 0 50%; margin-left:-1px;}
#topLinks ul li.current a{ color:#D32021;}
#language { position:relative; z-index:88;}
#languageBtn{ display:block;background:url(../../images/arrow_down.gif) no-repeat 50% 100%; width:145px; text-align:center;}
#languageList { display:none; position:absolute; top:29px; left:0; width:125px; height:80px;z-index:89; background:#ECF7FD;}
#languageList li { float:left; width:100%;height:20px; line-height:20px;padding-left:6px; list-style:none;color:#189DD9;}
#languageList li a { display:block; height:20px; line-height:20px;}

#logo {width:251px; height:50px;margin-bottom:56px;clear:both; /*background:url(../../images/logo.gif) no-repeat 0 0;*/}
#logo h1{ display:none;}

/*===navigation===*/
#navigation { background:#01ace0 url(../../images/navBg.jpg) no-repeat 0 0; height:40px;width:920px;}
.navigation li { float:left; position:relative;width:110px; display:inline; /*overflow:hidden;*/ height:40px; z-index:30;}
.navigation li:hover > div { visibility:visible !important;}
.navigation li a {float:left; height:40px;line-height:40px; font-size:16px; color:#fff; text-align:center; background:url(../../images/navBg-hover.gif) no-repeat; background-position:0 40px;}
.navigation li a:link { color:#fff;}
.navigation li a:link, .navigation li a:visited, .navigation li a:hover, .navigation li a:active{color:#fff;}
.navigation li ul { list-style:none;}
.navigation li ul li { height:auto;}
.navigation li ul li a { background:none;height:20px; line-height:20px; margin-right:0; float:none;font-size:11px; text-align:left;}
#subMenu12, #subMenu24, #subMenu26, #subMenu35, #subMenu40, #subMenu39{height:auto; overflow:visible;z-index:89;}
#subMenu12, #subMenu12 a {width:84px;}
#subMenu12 a { margin-right:0;}
#subMenu12:hover a {background-position:0 0;}
#subMenu12 a.current,#subMenu12:hover a.current {background-position:0 -40px;}
#subMenu24 { width:166px;}
#subMenu24 a {width:100%;background-position:-84px 40px;}
#subMenu24:hover a, #subMenu24.active a {background-position:-84px 0;}
#subMenu24 a.current, #subMenu24:hover a.current {background-position:-84px -40px;}
#subMenu26{width:243px;}
#subMenu26 a {width:100%; background-position:-230px 40px;}
#subMenu26:hover a, #subMenu26.active a {background-position:-245px 0;}
#subMenu26 a.current, #subMenu26:hover a.current {background-position:-245px -40px;}
#subMenu35 { width:184px;}
#subMenu35 a {width:100%;background-position:-453px 40px;}
#subMenu35:hover a, #subMenu35.active a{background-position:-486px 0;}
#subMenu35 a.current, #subMenu35:hover a.current {background-position:-486px -40px;}
#subMenu40 {width:122px;}
#subMenu40 a {width:100%;background-position:-617px 40px;}
#subMenu40:hover a, #subMenu40.active a{background-position:-617px 0;}
#subMenu40 a.current, #subMenu40:hover a.current {background-position:-617px -40px;}
#subMenu509 {width:112px;}
#subMenu509 a {width:100%;background-position:-617px 40px;}
#subMenu509:hover a, #subMenu509.active a{background-position:-617px 0;}
#subMenu509 a.current, #subMenu509:hover a.current {background-position:-617px -40px;}
#subMenu32 {width:122px;}
#subMenu32 a {width:100%;background-position:-617px 40px;}
#subMenu32:hover a, #subMenu32.active a{background-position:-617px 0;}
#subMenu32 a.current, #subMenu32:hover a.current {background-position:-617px -40px;}
#subMenu39{width:121px;margin-right:0;}
#subMenu39 a {width:100%;background-position:-719px 40px;}
#subMenu39:hover a , #subMenu39.active a{background-position:-719px 0;}
#subMenu39 a.current, #subMenu39:hover a.current{background-position:-719px -40px;}
/*#subMenu7 {width:98px; margin-right:0;}
#subMenu7 a {width:100%;background-position:-696px 40px;}
#subMenu7 a:hover {background-position:-696px 0;}
#subMenu7 a.current, #subMenu7 a.current:hover {background-position:-696px -40px;}
*/

/**
 *
 * UPDATE KONTAKT
 *
 */
.navigation li,
#subMenu12, #subMenu24, #subMenu26, #subMenu35, #subMenu40, #subMenu39,
#subMenu12 a {
	width: auto;
}
#subMenu12 a { width: 91px; }
#subMenu12 a.current,
#subMenu12:hover a.current { background-position: 0 -40px;}
#subMenu12:hover a,
#subMenu12.active a { background-position: 0 0; }

#subMenu24 a { width: 154px; }
#subMenu24 a.current,
#subMenu24:hover a.current { background-position: -91px -40px; }
#subMenu24:hover a,
#subMenu24.active a { background-position: -91px 0; }

#subMenu26 a { width: 190px; }
#subMenu26 a.current,
#subMenu26:hover a.current { background-position: -245px -40px; }
#subMenu26:hover a,
#subMenu26.active a { background-position: -245px 0; }

#subMenu35 a { width: 143px; }
#subMenu35 a.current,
#subMenu35:hover a.current { background-position: -447px -40px; }
#subMenu35:hover a,
#subMenu35.active a { background-position: -447px 0; }

#subMenu466 a { width: 102px; }
#subMenu466 a.current,
#subMenu466:hover a.current { background-position: -590px -40px; }
#subMenu466:hover a,
#subMenu466.active a { background-position: -590px 0; }

#subMenu40 a { width: 112px; }
#subMenu40 a.current,
#subMenu40:hover a.current { background-position: -692px -40px; }
#subMenu40:hover a,
#subMenu40.active a { background-position: -692px 0; }

#subMenu39 a { width: 101px; }
#subMenu39 a.current,
#subMenu39:hover a.current { background-position: -819px -40px; }
#subMenu39:hover a,
#subMenu39.active a { background-position: -819px 0; }

#subMenu536 a { width: 180px; }
#subMenu536 a.current,
#subMenu536:hover a.current { background-position: -245px -40px; }
#subMenu536:hover a,
#subMenu536.active a { background-position: -245px 0; }


table.contenttable-100 { margin: 0; }
table.contenttable-100 th { font-size: 15px; color: #189dd9; text-align: left; padding: 10px 5px; }
table.contenttable-100 td { width: 30%; }
table.contenttable-100 td:first-child {  }
table.contenttable-100 td:last-child  { width: 40%; }

/* ENDE UPDATE KONTAKT */





/*===subNav===*/
#navigation ul { list-style:none;}
#navigation ul li {z-index:601;}
#navigation .subNav li {z-index:603;}
#navigation ul li .subNav { position:absolute; left:0px;top:40px; z-index:602; visibility:hidden; }

#navigation ul li .subNav > ul + span, #navigation ul li .subNav div > ul + span {background:url(../../images/subNavBottom_middle.png) repeat-x 0 0;background:url(../../images/subNavBottomBg_bak.png) repeat-x 0 0; _background:url(../../images/subNavBottomBg_bak.gif) no-repeat 0 0;display:block; overflow:hidden; clear:both;position:relative;height:6px;width:100%}

#navigation ul li .subNav div > span > span {
	display:block;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:50%;
	height:6px;
}
#navigation ul li .subNav div > span > span + span{
	left:auto;
	right:0;
}

#navigation ul li .subNav ul + span > span {
	display:block;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:50%;
	height:6px;
}
#navigation ul li .subNav ul + span > span + span{
	left:auto;
	right:0;
}


#navigation ul li .subNav ul {
	margin-left:-3px;
}
#navigation ul li .subNav ul {height:100%;padding-left:3px;}
#navigation ul li .subNav ul:after { content:''; clear:both; display:block; height:0; visibility:hidden;}

#navigation ul li .subNav > ul > li {
	display:block;
	position:relative;
	float:none;width:auto;margin-right:0; overflow:visible; height:auto; clear:both;

	}

#navigation ul li .subNav > ul > li > a { display:block;line-height:20px; height:auto; color:#01ace0;padding-left:10px; margin:0; width:auto; text-indent:0;clear:both; position:relative;white-space:nowrap}
#navigation ul li .subNav li:hover > a, #navigation ul li .subNav li.current a {color:#D32021; background:none;}

#navigation ul li#subMenu24 .subNav li a  {padding:0 33px;}
#navigation ul li#subMenu26 .subNav li a  {padding:0 55px 0 15px ;}
#navigation ul li#subMenu35 .subNav li a  {padding:0 35px;}
#navigation ul li#subMenu40 .subNav li a  {padding:0 17px;}

.more-items {
	background:url(../../images/nav_arrow.gif) no-repeat 190px center !important;

}
.subNav li:hover .more-items {
	background:url(../../images/nav_arrow_hover.gif) no-repeat 190px center !important;

}

/*#navigation ul li .subNav > ul > li:hover {position:relative;z-index:700; }*/

/*===subSubNav===*/
#navigation ul li .subNav div { visibility:hidden; position:absolute; left:190px; _left:-2px;z-index:800; margin-top:-26px; max-width:165px }
#navigation ul li .subNav div ul { /*position:relative;z-index:802;*/ }
#navigation ul li .subNav div li { width:auto;display:block;float:none;}
#navigation ul li .subNav div li a { display:block;line-height:20px; height:auto; color:#01ace0;margin:0;padding:0 15px !important;white-space:nowrap;/*width:100%*/}

#navigation ul li .subNav div > span {
	display:block; overflow:hidden; position:relative;height:6px;width:100%;
}

#navigation .subNav li, #navigation .subNav ul, #navigation .subNav a { background: white!important; opacity: 1!important; }

/*===search===*/
#search { visibility:hidden;}
#search #searchBox{ position:absolute;top:40px;_top:0;right:-3px;width:233px;height:42px; background:url(../../images/searchBg.png) no-repeat 0 0;_background:url(../../images/searchBg.gif) no-repeat 0 0;}
#searchBox p {float:left;}
#search #searchBox form { float:left;position:relative;}
/*#search #searchBox a { font-weight:bold;float:left; position:relative;}*/
#search #searchBox span input  { margin:3px 0 0 3px; padding:3px;width:150px; float:left;position:relative;}
#search #searchBox span{margin:5px 0 5px 5px;background:url(../../images/inputBg_index.gif) no-repeat 0 0;width:168px;}
#search #searchBox .tx-indexedsearch-searchbox-button { background:none; border:0; width:50px; float:left; color:#fff; font-weight:bold; padding:10px 0 0 0;font-family:Helvetica, Verdana, Arial;font-size: 11px; cursor:pointer;}

div.ac_results { width:162px;display:inline; background:#fff; border:1px solid #ccc; position:static; clear:both; float:left; margin:0 0 0 7px;overflow:hidden;}
* +html div.ac_results { margin-top:-2px;}
div.ac_results ul { border:0; list-style:none;}
div.ac_results ul li { float:none; position:static; width:auto; display:block; margin-right:0;}
div.ac_results ul li.over { background:#80D6F0; font-weight:normal;}

#mainCon {font-size: 12px;}
#mainCon_bottom #searchBox { height:40px; background:#ECF7FD; /*position:relative;z-index:88;*/}
#mainCon_bottom #searchBox span input  { margin:3px 0 0 3px; padding:3px;width:168px;}
#mainCon_bottom #searchBox span{margin:8px 5px 5px 15px;}
#mainCon_bottom #searchBox input { margin:8px 0 0 0; float:left;}
#mainCon_bottom #searchBox .ac_results { position:absolute;top:33px; left:9px; width:176px;}
#mainCon_bottom #searchBox form a { float:right; background:url(../../images/arrow.gif) no-repeat 0 50%; padding-left:12px; height:18px;margin-top:12px;}
#common-search a {display:inline;background:none;font-size:11px;width:auto; }
#common-search a:hover{background:none;}
#suggested-search { position:absolute; width:230px;top:35px;left:0; clear:both; font-size:0; line-height:0;}
#suggested-search ul.search-result-2 { visibility:visible; background:none; position:static; left:0;top:0; width:auto; list-style:none;}
#suggested-search ul.search-result-2 li, #suggested-search ul.search-result-2 li a{ display:block; float:none; line-height:20px; width:auto; padding-left:2px;}
#suggested-search ul.search-result-2 li a:hover { background-position:0 0;}
.search-result-box { padding:5px; background:#000; font-size:11px; line-height:normal;}
.search-result-box h3 {padding: 2px 0 2px 4px;}

/*===bcn===*/
#bcn { background:#fff; padding:10px 15px;color:#189DD9; height:100%;}
#bcn:after { content:''; display:block; clear:both;height:0;visibility:hidden;}
#bcn ul { list-style:none;}
#bcn ul li { float:left;white-space:nowrap;}
#bcn ul li a , #bcn ul li.current{ padding-right:3px;}
#bcn ul li.current { color:#000; }
/*===main===*/
.text, .TextAndImg, .img, .flash {border:10px solid #fff;margin-bottom:10px; color:#fff;}
.text p, .TextAndImg p, .text p a, .TextAndImg p a{color:#fff;}
.text{padding:15px 20px 10px;color:#fff;}
.text h2, .homecambridgeblue h2{ margin-bottom:5px; font-weight:normal; font-size:16px;}
.TextAndImg h2{ margin:10px 0 5px; float:left;}
.TextAndImg p { margin-right:5px;}
.TextAndImg div {float:left;}
.TextAndImg:after { content:''; display:block; clear:both; height:0; visibility:hidden;}
.text a, .TextAndImg a { color:#fff;}
.home_messe, .homeblue {background:#189DD9;}
.home_messe ul {list-style:none;}
.home_messe a, .TextAndImg p a , .homeblue a{text-decoration: underline;color: #fff;}
/*.home_messe a:hover, .TextAndImg p a :hover, .homeblue a:hover  { background:#D32021; color:#fff;}*/
/*update 31.03.2009*/
.home_messe a:active, .TextAndImg p a:active, .homeblue a:active {text-decoration: underline;color: #fff;}
.home_messe a:link, .TextAndImg p a:link, .homeblue a:link {text-decoration: underline;color: #fff;}
.home_messe a:visited, .TextAndImg p a:visited, .homeblue a:visited {text-decoration: underline;color: #fff;}


.homecambridgeblue { background:#CCEBF9; color:#009de0;}
.homecambridgeblue p a, .gray p a {color:#D32021;}
.homecambridgeblue p a:hover, .gray p a:hover {background:#D32021; color:#fff; text-decoration:none;}
.homecambridgeblue p, .gray p {color:#009de0;}
.gray { background:#B3B3B3;color:#009de0;}


#mainBanner_oneColumn { position:relative;}

#mainBanner_oneColumn, #mainBanner_oneColumn ul li { height:300px; overflow:hidden;}
#mainBanner_oneColumn ul { height:300px; overflow:hidden; list-style:none;}
#mainBanner_oneColumn ul li { float:left;}
#mainCon_oneColumn {font-size:0; line-height:0;width:1000px; float:left;}
#mainCon_oneColumn .tx-feexhibition-pi1, #mainCon_oneColumn .tx-extteaserbox-pi1{float:left;}
#mainCon_oneColumn:after { content:''; display:block; clear:both; visibility:hidden; height:0;}
#mainCon_oneColumn .text, #mainCon_oneColumn .TextAndImg, #mainCon_oneColumn .img{ float:left; width:280px;overflow:hidden; display:inline; font-size:11px; line-height:normal;
margin-right:10px;color:#fff;}
#mainCon_oneColumn .text {width:240px;height:73px;}
#mainCon_oneColumn .text p {overflow:hidden;height:10px;width:235px;}
#mainCon_oneColumn .red {background:#e53517;}
#mainCon_oneColumn .red ul { list-style:none;}
/*#mainCon_oneColumn .img { margin-right:0;}*/
#mainCon_oneColumn .blue { background:#189DD9;}
#mainCon_oneColumn .blue h2 { margin-bottom:15px;}
/*#mainCon_oneColumn a { color:#fff; text-decoration:underline;}
#mainCon_oneColumn li a { text-decoration:none;}*/
.mbImgBox {overflow:hidden; text-align:center; float:left; margin-right:18px;display:inline;}

.banner-pagination { position:absolute; top:267px; left:0; z-index:550; width:885px; text-align:right;}
.banner-pagination a { position:static !important; width:10px !important; height:10px !important; float:none; display:inline-block;zoom:1;*display:inline;margin-left:5px; background:url(../../images/bullets.png) no-repeat left center; font-size:0 !important;}
.banner-pagination a.active-item { background:url(../../images/bullets.png) no-repeat center center;}
/*===footer===*/
#footer { height:30px; background:#189dd9; color:#fff; line-height:30px; margin-bottom:35px; margin-top:10px; clear:both; white-space:nowrap; position:relative;}
#footer a { color:#fff; text-decoration:underline;}
#footer p, #footer ul{ float:left; display:inline; overflow:hidden;}
#footer ul { list-style:none;}
#footer p { font-size:9px; padding-left:10px; position:relative; display:block; width:390px; }
#footer p.copy_de { width:420px; }
#footer p img { position: absolute; right:0; top:5px; }

 /*#footer div {float:left;} */
ul #sitemap { float:right; margin-right:10px;}
#footer ul li { float:left; background:url(../../images/whiteLine.gif) no-repeat 0 60%; margin-left:-1px; padding:0 7px;}
#footer  ul { float:right; position:absolute; right:0; }


/*===sidebar===*/
#seite { background:#93d5f2; height:35px; line-height:35px;text-align:center; color:#fff; display:none;}
#seite a { color:#fff; text-decoration:underline;}
/*
#rightBot .text  { background:#93d5f2;color:#fff; height:194px; overflow:hidden;}
*/
#rightBot .text  { background:#93d5f2;color:#fff; height:auto; overflow:hidden;}
#rightBot .text h2 { margin-bottom:11px;}
#rightBot .text  h5 { margin-bottom:25px; font-size:13px;}
#rightBot .text  p {color:#fff;}
#rightBot .text  p.bodytext a { color:#fff;} /*update 27.03.2009*/
#rightBot .TextAndImg { background:#C7EBF8; height:98px;overflow:hidden;color: #189DD9;}
#rightBot .TextAndImg p {color: #189DD9;}
#rightBot .TextAndImg p a { text-decoration:none;}

/*===sidebar 2 update 28.03.2009===*/
#rightBot .csc-textpic-text { padding:5px;}
#rightBot ul {list-style:none;}
#rightBot .blue { color:#004177;padding:10px;}
#rightBot .blue ul li { margin-bottom:15px;list-style:none;}
#rightBot .blue ul li a, #rightBot .blue div a  { display:block; color:#004177;}
#rightBot .blue ul li a:hover, #rightBot .blue div a:hover{ text-decoration:underline;}
#rightBot .text {background:#93D5F2;}
#rightBot .messe, #rightBot .Cambridg_Blue {background:#4CBCE9;/*padding:15px;*/ height:auto;}
#rightBot .Content-blue {background:#4CBCE9;padding:15px; height:auto;} /*update 27.03.20009*/
#rightBot .Content-blue h2 {margin:0;}
#rightBot .Content-blue .mbImgBox { float:none;display:block;height:auto;margin:0;}
#rightBot .Content-blue .mbImgBox  img {display:block; margin:10px auto;}
#rightBot .messe a, #rightBot .text a, #rightBot .Content-blue a {color:#fff; text-decoration:underline;}


/*===sidebox IE6 update 28.01.2010===*/
* #sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue h2 {
	float: none;
}

* #sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue .mbImgBox {
	float: none;
	clear: none;
	margin-top: 0px;
}

* #sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue p.bodytext {
	float: none;
}

/*===sidebox IE7 update 28.01.2010===*/
*+#sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue h2 {
	float: none;
}

*+#sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue .mbImgBox {
	float: none;
	clear: none;
	margin-top: 0px;
}

*+#sidebox .tx-extteaserboxadv-pi1 .TextAndImg.Content-blue p.bodytext {
	float: none;
}

/*===sideBar_search=== color: #189DD9;*/
#sideBar_search { background:url(../../images/searchFormBg_03.jpg) no-repeat 0 0; height:70px; width:242px; overflow:hidden; padding:15px 19px;}
#sideBar_search h2 { color:#fff; margin-bottom:13px; margin-top:7px;}
.inputStyle { background:url(../../images/inputBg.gif) no-repeat 0 0;  width:180px; height:27px; float:left;}
.inputStyle input {padding:3px;font-family:Helvetica, Verdana, Arial;font-size: 11px;width:168px;color: #000000; height:13px; border:0; margin-left:2px; margin:3px 0 0 3px;}
#sideSearchBtn { margin-left:8px; margin-top:1px;}

/*===imgTxtBox===*/
#imgTxtBox { background:#c7ebf8; height:103px; overflow:hidden;}
#imgTxtBox a {color: #D32021;}
#imgTxtBox h2 { margin:10px 0 5px 0;}
#imgTxtBox p { font-size:12px; line-height:15px;}
#imgTxtBox p a  { display:block;}
.people { width:116px; height:103px; float:left; overflow:hidden; margin-right:18px; text-align:center;}

/*===pop===*/
#pop {/* background:url(../../images/pop_19.png) no-repeat 0 100%; padding-bottom:17px;width:506px;*/ }
/*#popInner { background:url(../../images/pop_17.png) repeat-y 0 0;padding-right:6px;}*/
/*#popTitle { background:url(../../images/pop_03.jpg) repeat-x 0 0; height:40px; line-height:40px; font-size:18px; text-transform:uppercase; padding-left:10px; color:#fff;}*/
#popTitle span {text-transform:uppercase; padding-left:10px; color:#189DD9;}
#popCon { padding:10px;}
#popCon p {clear:both;}
#popCon label { display:block; color:#333;padding:5px 0 3px 0;width:100px; float:left;}
.inputStyle2 {float:left; background:url(../../images/textareaBg.gif) no-repeat 0 0;width:180px;height:77px;}
.inputStyle2 textarea{font-family:Helvetica, Verdana, Arial;font-size: 11px;color:#000;border:0;overflow:auto;width:170px;margin:5px;height:67px;}
#popBtn a { display:block; float:left; margin-right:10px; background:url(../../images/pop_03-03.jpg) repeat-x 0 0; height:46px; line-height:23px; color:#fff; margin-top:10px; position:relative; cursor:pointer;}
#popBtn a span { background:url(../../images/pop_03-04.jpg) no-repeat 100% 0; display:block; height:46px; padding:0 10px; float:left;color:#fff;}

.box { border:10px solid #fff; margin-bottom:10px; width:280px; overflow:hidden;}
#tl { background:url(../../images/pop_tl.png) no-repeat 0 0;height:6px; padding-left:7px; display:block; overflow:hidden;}
* html #tl{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_tl.png"); background:none;}
#tr { background:url(../../images/pop_tr.png) no-repeat 100% 0; height:6px; display:block; overflow:hidden;}
* html #tr{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_tr.png"); background:none;}
#inner_wrap_cotaniner, #flashBoxOut{ background:url(../../images/pop_cl.png) repeat-y 0 0; padding-left:7px; }
* html  #flashBoxOut{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_cl.png"); background:none;}
#inside_wrap_o{ background:url(../../images/pop_cr.png) repeat-y 100% 0; position:relative;}
#flashBoxInner{background:#fff;position:absolute;z-index:1000;}
#inside_wrap_o, #flashBoxInner {padding:10px;}
#bl { background:url(../../images/pop_bl.png) no-repeat 0 0; display:block; height:6px;padding-left:7px; overflow:hidden;}
* html #bl{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_bl.png"); background:none;}
#br { background:url(../../images/pop_br.png) no-repeat 100% 0; display:block; height:6px; overflow:hidden;}
* html #br{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_br.png"); background:none;}
div#TB_window { border:0; background:none;font-size:11px;z-index:600;}
div.TB_overlayBG , div#lbOverlay, #TB_ajaxContent{ background-color:#fff;}
#TB_ajaxContent { position:absolute; z-index:100;}
#TB_window_close, a#lbCloseLink { background:url(../../images/pop_close.png) no-repeat 0 0 ; width:39px; height:39px; display:block; position:absolute; top:-18px; left:-18px; z-index:101; cursor:pointer;}
* html #TB_window_close, * html a#lbCloseLink {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_close.png"); background:none;}
a#lbCloseLink {top:-25px; left:-25px;}
div#lbImage { background:none; position:static; border:0;}
div#lbCenter, div#lbBottomContainer { background:none;}
div#lbBottom{ border:0;}

/*change at 090210*/
#mianCon_Left { width:120px; overflow:hidden; float:left; margin:0 40px 0 10px; display:inline;}
#mianCon_Right { width:410px; float:left;}
.bodytext, .csc-textpic-caption { color:#000;}
#main .bodytext a { color: #D32021;}

#mainCon_bottom table{ border-collapse:collapse; width:100%;}
#mainCon_bottom .tx-ttnews-browsebox table { width:auto;}
#mainCon_bottom table tr td { border:1px solid #fff; padding:5px;color:#000;}
.headerTd {background:#96C8F0;}
#mainCon_bottom table tr.headerTd td { color:#fff;}
.tr-1 { background:#F0F7FE; }
.tr-2 {background:#E1EEFB;}
.tr-1 td a ,.tr-2 td a {color:#000; text-decoration:underline;}
.tr-1 td a:hover ,.tr-2 td a:hover {color:#D32021; text-decoration:underline;}


#rightBot .TextAndImg p a {color:#D32021;padding-left:0;}

dt.tx-irfaq-dynheader { margin-top:10px;}
dt.tx-irfaq-dynheader img {float:left;margin:3px 5px 0 0;}
dt.tx-irfaq-dynheader p.bodytext{ font-size:13px;color:#189DD9; padding-bottom:0;}
dd.tx-irfaq-dynans-visible .additional-info, .tx-irfaq-pi1 p{display:none;}
.tx-irfaq-pi1 p.bodytext {display:block;}
.searchHeader { color:#000;}
.searchHeader h1 { margin-top:30px;}




/*==========flashMap===========*/
#userInfo { background:#fff; border:10px solid #fff; padding:10px; margin-bottom:10px;}
#infoLeft { width:280px; float:left; overflow:hidden;color: #189DD9;}
#infoLeft ul, #resultate ul{ list-style:none;}
#infoLeft ul li { font-size:22px; margin-bottom:20px;}
#infoRight {width:600px; float:right;overflow:hidden;}
#resultate { border-bottom:1px solid #189DD9; padding-bottom:15px; margin-bottom:15px;}
#resultate ul { float:left;margin-top:37px;}
#resultate ul li a { color:#189DD9; text-decoration:underline; background:url(../../../../en/fileadmin/templates/images/dot2.html) no-repeat 0 50%;padding-left:10px; display:block;}
.firstUserContact {float:left; width:175px;margin-right:25px; display:inline;}
/*.userContact { float:left; width:175px;margin-right:25px; display:inline; height:155px; overflow:hidden;}*/
.userContact{width: 175px;overflow:hidden;margin-right:25px;float:left;margin-bottom: 25px}
.userContact h4 { margin:10px 0;}
.userContact p { color:#000;}
.record { clear:both; text-align:right;padding-right:92px;padding-top:10px;}
.record a { text-decoration:underline;}

.csc-textpicHeader h4 { margin-top:-2px;}



/*==========pages===========*/
#mainCon_bottom .pages{ background:#ECF7FD ; height:30px; line-height:30px;  margin-bottom:10px;}
#mainCon_bottom .pages table tr td { border:0; padding:0; font-size:11px;}
#mainCon_bottom .pages td.tx-ttnews-browsebox-SCell p a { color:#D32021;}
#mainCon_bottom .pages td p a, #mainCon_bottom .news-catmenu a {color:#189DD9; text-decoration:none;}
#mainCon_bottom .pages table tr td a:hover, #mainCon_bottom .news-catmenu a:hover { background:none;color:#D32021; text-decoration:underline;}
#mainCon_bottom .news-catmenu a:hover{ background:#ECF7FD;}
div.tx-ttnews-browsebox, td.tx-ttnews-browsebox-SCell { background:none; border:none;}
.tx-ttnews-browsebox table{float:left;}
.tx-ttnews-browsebox table td p a{ padding:0 3px;}
.tx-ttnews-browsebox p { display:none;}
.tx-ttnews-browsebox table td p { display:block;}




/*==========tt_news catmenu update 17.03.2009===========*/
div.news-catmenu {float:right; height:30px; line-height:30px; background-color: #ECF7FD; margin:0 0 0 -5px; padding:0!important; padding-left:5px; overflow:hidden;}
div.news-catmenu a { position:relative; z-index:10; background:#ECF7FD; display:block; float:left;}
div.news-catmenu span a { background:#ECF7FD url(../../images/blueLine.gif) no-repeat 0 50%; margin:0 1px 0 -1px; padding:0 5px; z-index:9; font-size:12px!important;}
#mainCon_bottom div.news-catmenu span a:hover {background:#ECF7FD url(../../images/blueLine.gif) no-repeat 0 50%;}
#mainCon_bottom div.news-catmenu span.catmenu_act a {color:#D32021;}

/*==========tt_news teaser box update 28.03.2009===========*/
div.news-latest-item { border:10px solid #FFFFFF; margin-bottom:10px; padding:10px; background-color:#93d5f2;}
div.news-latest-item p.bodytext { color:#189dd9;}
div.news-latest-item a { color:#D32021; text-decoration:underline;}
div.news-latest-item h4 a { font-size:12px; color:#189dd9; text-decoration:none;}
span.news-latest-date{ color:#ffffff;}

/*==========tt_news archive Amenu update 17.03.2009===========*/
div.news-amenu-container li { list-style:none; margin-bottom:5px; }
/*==========tt_news Single update 18.03.2009===========*/
div.newsInfo_date { color:#999999; margin-bottom:5px;  }
div.newsInfo_date p.bodytext { color:#999999; display:inline;}
h2.newsInfo_title { font-size:22px;}
div.newsInfo_subheader em { font-style:normal;}
div.newsInfo_content	{ margin: 15px 0 15px 0;}
#newsInfo_image	{ float:right;}
#newsInfo_image table { width:auto;}
.news-single-img { padding-left:10px; text-align:center!important}
.news-single-img a,.news-single-img img {text-align:center!important; margin-left:auto; margin-right:auto}
#newsInfo p.caption { color:#999999; padding-top:5px; text-align:center; }
#newsInfo_fileLink img { display:block; float:left;}
#newsInfo_fileLink a { display:block; float:left; height:16px; line-height:16px; clear:right; margin-left:10px; color:#D32021; text-decoration:underline;}
#newsInfo_fileLink { margin:5px 0 0 0;}
dl.news-single-related a {color:#D32021; text-decoration:underline;}
dl.news-single-related a:hover { background-color:#D32021; color:#ffffff; text-decoration:underline;}

/*===========update end 19.03.2009==========*/


div.tx-indexedsearch .tx-indexedsearch-whatis {color:#000;font-weight:bold; clear:both;}
div.tx-indexedsearch .tx-indexedsearch-whatis span.tx-indexedsearch-sw { font-weight:normal;font-style:normal;}
ul.browsebox {list-style:none;background:#ECF7FD;height:30px; line-height:30px;  margin:10px 0;color: #189DD9;}
#mainCon_bottom ul.browsebox a { text-decoration:none;color: #189DD9;}
#mainCon_bottom ul.browsebox a:hover { background:none; text-decoration:underline;color: #D32021;}
#mainCon_bottom ul.browsebox strong a {color: #D32021;}
.tx-indexedsearch-browsebox p { color:#000;}
.tx-indexedsearch-browsebox h1 { margin-top:40px;}


#mainCon_bottom  table.csc-uploads-1 td { border:0; padding:0;}
#mainCon_bottom  table.csc-uploads-1 td p a { color:#D32021; text-decoration:underline;}
#mainCon_bottom  table.csc-uploads-1 td p a:hover { background:#D32021; color:#fff;}
#mainCon_bottom  table.csc-uploads-1 td p.csc-uploads-description { display:none;}
#mainCon_bottom  table.csc-uploads-1 tr td{ padding:10px 0;} /*update 18.03.2009*/
#mainCon_bottom  table.csc-uploads-1 tr.tr-odd { background:none;}


/*csc-sitemap*/
.csc-sitemap { margin:0 15px;}
.csc-sitemap ul { list-style:none;}
.csc-sitemap ul li { font-weight:bold; padding-left:10px; margin-bottom:10px;border-bottom:1px solid #ddd; line-height:150%;font-size:13px; background:url(../../images/arrow3.gif) no-repeat 0 7px; padding-left:8px;}
#mainCon_bottom .csc-sitemap ul li{list-style:none;}
#mainCon_bottom .csc-sitemap ul li a { color:#189DD9; text-decoration:none;}
#mainCon_bottom .csc-sitemap ul li a:hover { text-decoration:underline; background:none;color:#D32021;}
.csc-sitemap ul li ul { padding:10px 0;}
.csc-sitemap ul li ul li { border:0; font-size:12px; clear:both; background-position:0 5px;}
.csc-sitemap ul li ul li ul li { height:100%; clear:both; font-size:11px;}
.csc-sitemap ul li ul li ul li ul li { width:46%; float:left; clear:none; font-weight:normal;}



/*duran-group*/
.tx-jppageteaser-pi1-list-entry { height:100%; margin-bottom:40px; clear:both;float:left; width:100%;}
.tx-jppageteaser-pi1-list-entry-image { width:120px; float:left;}
.tx-jppageteaser-pi1-list-entry-image img { border:0; display:block; margin:0 auto;}
.tx-jppageteaser-pi1-list-entry h4, .tx-jppageteaser-pi1-list-entry h4 a { border:0;color:#189DD9;}
.tx-jppageteaser-pi1-list-entry-link-item a, #mainContent .tx-jppageteaser-pi1-list-entry-link-item  a{color:#D32021; text-decoration:underline;font-size:11px;}
.tx-jppageteaser-pi1-list-entry-link-item a:hover, #mainContent .tx-jppageteaser-pi1-list-entry-link-item  a:hover { background:#D32021; color:#fff;}
.tx-jppageteaser-pi1-list-entry-description { margin-top:0;}



ul.csc-bulletlist li { list-style-type:disc;margin-left:20px;padding:0;}
div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image  {margin-left:0;}
li.csc-textpic-image  {margin-left:10px!important;}




ul.mailprogress li { width:24%; float:left; border:solid #7DD5F0;border-width:0 1px 1px 0; color:#9B9E9D;height:60px;padding-left:5px; font-size:12px; line-height:1.5em;}
ul.mailprogress li.active strong { color:#009EE0;}
ul.mailprogress li.active {color:#000;}
#step_4 { border-width:0 0 1px 0;}

.tx-thmailformplus-pi1 form { clear:both; padding:10px 0;}
.tx-thmailformplus-pi1 form fieldset {border:0;}
.tx-thmailformplus-pi1 form fieldset legend {display:noen;}
.tx-thmailformplus-pi1 h4 { padding:2em 0 3em 0; float:left;width:100%;}
/*.tx-thmailformplus-pi1 form p { width:50%; float:left;}*/
.tx-thmailformplus-pi1 form p label,#ProductsForm p label, #sex  strong, #ProductsFormSex strong { display:block; float:left; width:100px; font-weight:normal; line-height:25px;}
.tx-thmailformplus-pi1 form p input, #ProductsForm p input, .tx-thmailformplus-pi1 form #glass_type p input.type_input, #ProductsFormNext p input, #goog-wm-qt {/*background:url(../../images/inputBg.gif) no-repeat 0 0 ; */width:174px;*width:170px;height:13px;padding:3px 0;border:0;font-family:Helvetica, Verdana, Arial;font-size: 11px;color: #000; vertical-align:middle;}
.tx-thmailformplus-pi1 form p select, #tx-srfeuserregister-pi1-fe_users_form form p select, #ProductsForm p select {width:180px;}
.tx-thmailformplus-pi1 form p.contact_detail label { float:none;width:auto;font-weight:bold;}

#ProductsFormNext p input#file-select {width:174px;*width:170px;height:25px;padding:3px 0;border:0;font-family:Helvetica, Verdana, Arial;font-size: 11px;color: #000; vertical-align:middle;}

.tx-felogin-pi1  form{margin-top: 10px;}
.tx-felogin-pi1 label {float: left;width: 100px;}
.tx-felogin-pi1 div{width: 300px;	display: block;}
.tx-felogin-pi1 div.login_button{	width:300px;text-align:center;}

.tx-srfeuserregister-pi1 input, .tx-felogin-pi1_login input, .tx-felogin-pi1_login input[type="password"]{
	color:#000000;
}

.tx-srfeuserregister-pi1 dt {
	clear:both;
	padding-right:1em;
	text-align:left;
	width:25%;
	float:left;
	margin-top:5px;
}
.tx-srfeuserregister-pi1 dd {
	float:left;
	margin-top:5px;
	width:260px;
}
.tx-srfeuserregister-pi1 dd label{
	margin:5px;
}

.tx-srfeuserregister-pi1 input[type="radio"], .tx-srfeuserregister-pi1 input[type="checkbox"] {
	width:15px;
}

.tx-srfeuserregister-pi1-submit {
  background:url(../../images/weiter.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}
.tx-srfeuserregister-pi1-submit_en {
  background:url(../../images/next.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.tx-srfeuserregister-pi1-submit_confirm, input#FileSend{
  background:url(../../images/absenden.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
  float:right;
}

.tx-srfeuserregister-pi1-submit_back{
  background:url(../../images/zuruck.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.tx-srfeuserregister-pi1-submit_confirm_en, input#FileSend_en{
  background:url(../../images/send.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
  float:right;
}

#ProductsFormNext input#FileSend { height:45px; float:left !important; width:75px !important; }

.tx-srfeuserregister-pi1-submit_back_en{
  background:url(../../images/back_btn.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.tx-srfeuserregister-pi1-submit_nosave{
  background:url(../../images/abbrechen.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.tx-srfeuserregister-pi1-submit_nosave_en{
  background:url(../../images/abort.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
  float:left;
}

.tx-srfeuserregister-pi1-submit_delete{
  background:url(../../images/loeschen.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.tx-srfeuserregister-pi1-submit_delete_en{
  background:url(../../images/delete.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin:0;
  padding:0 0.5em 0 0;
  width:75px;
}

.felogin_forgot_submit{
  background:url(../../images/senden.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin-top:10px;
  padding:0 0.5em 0 0;
  width:75px;
}

.felogin_forgot_submit_en{
  background:url(../../images/send_btn.gif) no-repeat 0 0;
  border:medium none;
  display:block;
  height:45px;
  margin-top:10px;
  padding:0 0.5em 0 0;
  width:75px;
}



#sex {clear:both;}
#sex  strong { line-height:normal;}
#sex, #ProductsFormSex, .tx-thmailformplus-pi1 form p , .tx-felogin-pi1 p, #ProductsForm p{margin-bottom:10px;width:290px;}
#ProductsForm p  {width:100%; float:left; clear:both;}
#ProductsForm p:after {content:'';clear:both;display:block;height:0; visibility:visible;}
#sex input, #ProductsFormSex input {margin-right:4px; vertical-align:middle;}
#ProductsFormNext p span.inputStyle {_margin-left:3px;}
.next_step, .next_step_en, #FormButton, #FormButton_en, #ProductsFormNext p input#FormNextWeiter, #ProductsFormNext p input#FormNextWeiter_en, .submit_step, .submit_step_en, #FormButton_en { background:url(../../images/formBtn2.gif) no-repeat 0 0;width:72px;height:45px; clear:both; border:0; float:left; margin-left:100px;display:inline;cursor:pointer}
.next_step_en, #FormButton_en, #ProductsFormNext p input#FormNextWeiter_en, .submit_step_en,  #FormButton_en  { background:url(../../images/continue_btn.gif) no-repeat 0 0;}
#mainCon_bottom a.submit_step:hover, #mainCon_bottom a.next_step:hover { background:url(../../images/formBtn2.gif) no-repeat 0 0;}
#mainCon_bottom a.submit_step_en:hover, #mainCon_bottom a.next_step_en:hover {background:url(../../images/continue_btn.gif) no-repeat 0 0;}
.next_step , .next_step_en{margin-left:390px;}
.step_2, .step_3 { margin-right:0; margin-top:-50px; float:right;}
.step_3 {margin-top:-40px;*margin-top:-20px;}
.notify {margin-top:100px; clear:both;font-size:11px;}
.submit_step { margin-left:0;}
#glass_project p input  {float:left; vertical-align:middle;}
#glass_project p label{width:auto; line-height:normal;}
#land , #tx-srfeuserregister-pi1-static_info_country {margin-left:1px; width:178px;_margin-left:-2px;}


.tx-thmailformplus-pi1 form #glass_type p {width:auto;clear:both;float:none; margin-bottom:1.5em;height:100%;}
.tx-thmailformplus-pi1 form #glass_type p:after, #sex:after, #ProductsFormSex:after { content:''; clear:both; display:block; height:0; visibility:hidden;}
.tx-thmailformplus-pi1 form #glass_type p input {width:auto; background:none; float:left; margin-right:5px; vertical-align:middle;margin-top:5px;}
.tx-thmailformplus-pi1 form #glass_type p label { width:auto;}
.tx-thmailformplus-pi1 form #glass_type p input.type_input {margin-top:0;margin-left:10px;}
.tx-thmailformplus-pi1 form #glass_type .next_step {margin-left:0;}
#application_input_wrap, #application_field_wrap {width:auto; float:none; clear:both;}

.tx-thmailformplus-pi1 form #glass_project {font-size:12px;}
.tx-thmailformplus-pi1 form #glass_project textarea, #application_input, .tx-thmailformplus-pi1 form p.contact_detail  .textareaBox{ background:url(../../images/textearabg2.gif) no-repeat 0 0;width:350px;height:96px; display:block;padding:4px;margin:0.2em 0 2em;border:0;font-family:Helvetica, Verdana, Arial;font-size: 11px;color: #000; }
.tx-thmailformplus-pi1 form p.contact_detail textarea  {width:350px;height:96px;overflow-y:auto; border:0;}
.tx-thmailformplus-pi1 form #glass_project #application_input {float:left;}
.tx-thmailformplus-pi1 form #glass_project .submit_step, .tx-thmailformplus-pi1 form #glass_project .submit_step_en, .mailformplus_single .submit_step, .mailformplus_single .submit_step_en{ background:url(../../images/senden.gif) no-repeat 0 0; width:73px;height:46px;border:0;float:right;cursor:pointer}
#application_input {float:left;}
.mailformplus_single .submit_step, .mailformplus_single .submit_step_en {float:left;}
.tx-thmailformplus-pi1 form #glass_project .submit_step:hover, .mailformplus_single .submit_step:hover {background:url(../../images/senden.gif) no-repeat 0 0;}
.tx-thmailformplus-pi1 form #glass_project .submit_step_en, .tx-thmailformplus-pi1 form #glass_project .submit_step_en:hover , .mailformplus_single .submit_step_en, .mailformplus_single .submit_step_en:hover {background:url(../../images/send_btn.gif) no-repeat 0 0;}
.tx-thmailformplus-pi1 form #glass_project p input {background:none;width:auto;margin-right:5px;}
.tx-thmailformplus-pi1 form #glass_project p { float:left;width:auto;}
#FormButton, #FormButton_en {margin-left:150px; margin-top:0.5em;_margin-left:153px;}
#ProductsForm p label, #ProductsFormSex strong {width:150px;}
#attachment { height:auto;width:180px;}
.submit_step_en {margin-left:0;}
.uploadWrap{margin-bottom:30px; float:left; width:100%;}
.uploadWrap label { width:100px; display:block;float:left;line-height:20px; }



.durantimeline {margin-left:-5px;margin-bottom:10px;}
* html .durantimeline{margin-left:-5px; margin-right:-10px;}
* +html .durantimeline{margin-left:-5px; margin-right:-10px;}
#ProductsFormNext p {padding-left:100px; clear:both;}
#ProductsFormNext p.cert_error {padding-left:0; clear:both;}
* html  #ProductsFormNext p {padding-left:104px;}
#ProductsFormNext p input, #ProductsFormNext p select { display:block; margin-bottom:0.2em}
#ProductsFormNext p label.CategoriesOther { font-size:12px; font-weight:normal; color: #189DD9; float:left; display:block; width:100px;}
#ProductsFormNext p label.CategoriesClass {font-size:0; line-height:0;}
#ProductsFormNext p.ProductsLabel{padding-left:0;}
#ProductsFormNext p select { width:180px;}
#ProductsFormNext p span, #ProductsCertificateList p.NoProductsTips  { color:#000;}
#ProductsFormNext p input#FormNextWeiter , #ProductsFormNext p input#FormNextWeiter_en{ float:left; clear:none; margin-left:0;margin-top:15px;}
* +html #ProductsFormNext p input#FormNextWeiter ,* +html #ProductsFormNext p input#FormNextWeiter_en{ float:left; clear:none; margin-left:0;margin-top:0px;}
#ProductsFormNext p input#FormNextBack, #ProductsFormNext p input#FormNextBack_en, #FormDownloadBack, #FormDownloadBack_en { background:url(../../images/zuruck.gif) no-repeat 0 0;width:72px;height:45px;border:0; float:left; margin-left:100px;display:inline; margin:15px 10px 0 0;cursor:pointer}
#ProductsFormNext p input#FormNextBack_en, #FormDownloadBack_en {background:url(../../images/back_btn.gif) no-repeat 0 0;}
#ProductsCertificateList {padding-left:100px;#000}
div#ProductsCertificateList p { padding:0; clear:both; padding-bottom:0.5em;}
* html #ProductsCertificateList p.NoProductsTips {padding-left:4px;}
#ProductsCertificateList p input { width:auto; background:none; float:left; margin-right:4px;}
#ProductsCertificateList p label { width:auto; float:none; color:#000; font-size:11px;}
@media screen and (-webkit-min-device-pixel-ratio:0){ #ProductsFormNext p input#FormNextWeiter , #ProductsFormNext p input#FormNextWeiter_en {margin-top:15px;}}



#ProductsFormPDFDownload p a { margin:2em 0; color: #D32021; text-decoration:underline; float:left;}
#FormDownloadBack, #FormDownloadBack_en {clear:both;}



#mainCon_bottom .tx-jppageteaser-pi1-list h1 a, #mainCon_bottom .tx-jppageteaser-pi1-list h2 a, #mainCon_bottom .tx-jppageteaser-pi1-list h3 a, #mainCon_bottom .tx-jppageteaser-pi1-list h4 a, #mainCon_bottom .tx-jppageteaser-pi1-list h5 a, #mainCon_bottom .tx-jppageteaser-pi1-list h6 a{color: #189DD9; text-decoration:none;}
#mainCon_bottom .tx-jppageteaser-pi1-list h1 a:hover, #mainCon_bottom .tx-jppageteaser-pi1-list h2 a:hover, #mainCon_bottom .tx-jppageteaser-pi1-list h3 a:hover, #mainCon_bottom .tx-jppageteaser-pi1-list h4 a:hover, #mainCon_bottom .tx-jppageteaser-pi1-list h5 a:hover, #mainCon_bottom .tx-jppageteaser-pi1-list h6 a:hover{ background:none; color:#D32021; text-decoration:underline;}

.error{color:#D32021;clear:both;display:block;}
.errorBox { clear:both;}






.td1{width:5%;}
.td2{width:65%;}
.td3{width:30%;}
#mainCon_bottom table.downloads tr td, table.downloads tr td { padding:10px 5px;}
table.downloads tr td a:link {text-decoration:underline;color: #D32021;}
table.downloads tr td a:visited{text-decoration:underline;color: #D32021;}
table.downloads tr td a:hover {text-decoration:none; background:#D32021; color:#fff;}
table.downloads tr td a:active{text-decoration:underline;color: #fff;background:#D32021;}
.downloads{width:100%;}
.tx-indexedsearch{position:relative;}




/*lightBox style update 2009-03-31*/
#skyBoxInner { height:100%; width:100%; position:absolute; z-index:9; background:#fff;}
#skyBoxInner span { display:block; overflow:hidden; position:absolute; z-index:10;}
#angle_tl { background:url(../../images/angle_tl.png) no-repeat 0 0; width:4px; height:4px; top:-4px; left:-4px;}
* html #angle_tl {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/angle_tl.png"); background:none;}
#angle_tr { background:url(../../images/angle_tr.png) no-repeat 0 0; width:4px; height:4px; top:-4px; right:-4px;}
* html #angle_tr {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/angle_tr.png"); background:none;}
#angle_br { background:url(../../images/angle_br.png) no-repeat 0 0; width:4px; height:4px; bottom:-4px; right:-4px;}
* html #angle_br {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/angle_br.png"); background:none;}
#angle_bl { background:url(../../images/angle_bl.png) no-repeat 0 0; width:4px; height:4px; bottom:-4px; right:-4px;}
* html #angle_bl {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/angle_bl.png"); background:none;}
#bg_t { background:url(../../images/bg_t.png) repeat-x 0 0; height:4px; width:100%; top:-4px;overflow:hidden;}
* html #bg_t {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/bg_t.png"); background:none;height:4px;}
#bg_r, #TB_bg_r{ background:url(../../images/bg_r.png) repeat-y 0 0; height:100%; width:4px; right:-4px;}
* html #bg_r, * html #TB_bg_r {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/bg_r.png"); background:none;}
#bg_b { background:url(../../images/bg_b.png) repeat-x 0 0; height:4px; width:100%; bottom:-4px;overflow:hidden;}
* html #bg_b {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/bg_b.png"); background:none;height:4px;}
#bg_l, #TB_bg_l { background:url(../../images/bg_l.png) repeat-y 0 0; height:100%; width:4px; left:-4px;}
* html #bg_l, *html #TB_bg_l {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/bg_l.png"); background:none;}

#googleMapContainer .closebutton button, #fancy_outer div#fancy_close { background:transparent url(../../images/pop_close.png) no-repeat 0 0; width:39px;height:39px; cursor:pointer; border:0;}
* html  #googleMapContainer .closebutton button {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true" , sizingMethod="scale" , src="../../../../../82.98.84.99/fileadmin/templates/images/pop_close.png"); background:none;}
#fancy_close  {position:absolute;left:-20px;top:-20px;}
#goog-wm input {display:block; margin-top:5px;}
#goog-wm ul { list-style:none; margin:10px 0;}
#goog-wm-qt {background:url(../../images/inputBg_index.gif) no-repeat 0 0;*background-attachment: fixed; width:155px;height:14px;padding:5px;}
#goog-wm-sb {background:url(../../images/googleBtn.gif) no-repeat 0 0;width:134px;height:45px;border:0; cursor:pointer;}

div#fancy_outer div#fancy_inner { border:0;}
#lbNumber  { display:none;}
a#lbNextLink {right:5px;}

div#TB_window p a:focus {color: #D32021; text-decoration:underline;}
div#TB_window p a:link {color: #D32021; text-decoration:underline;}
div#TB_window p a:visited {color: #D32021; text-decoration:underline;}
div#TB_window p a:hover {color:#fff; background:#D32021;}
div#TB_window p a:active {color:#fff; background:#D32021;}
#TB_ajaxContent.TB_modal {margin:10px;}
#searchBox div.searchInput {float:left;}
#searchBox p.searchHelp {float:right;}


.Captcha {padding-left:100px; clear:both;}
.Captcha img { margin-bottom:5px;}
p.Captcha a, p.CaptchaPDF a { margin-top:5px;color:#D32021; text-decoration:underline;}
p.Captcha a:hover , p.CaptchaPDF a:hover { background:#D32021; color:#fff;}

div.mailformplus_single form div#agazineInfo ul li :after { content:''; display:block;  clear:both; height:0; overflow:hidden; visibility:hidden;}
div.mailformplus_single form div#agazineInfo ul li { padding-left:100px;_padding-left:104px;list-style:none;height:100%;}
div.mailformplus_single form div#agazineInfo ul li ul li {padding-left:15px;}
div.mailformplus_single form div#agazineInfo ul li ul {margin-top:4px;}
div.mailformplus_single form div#agazineInfo ul li input { vertical-align:middle;}
div.mailformplus_single form div#agazineInfo ul li  a{display:block; background:url(../../images/plus.gif) no-repeat 0 7px;padding-left:15px;color:#189DD9;padding-top:4px;}
div.mailformplus_single form div#agazineInfo ul li  a.expand{ background:url(../../images/minus.gif) no-repeat 0 7px;}

/* Add by NIDAG - Teaser rotation on start page */
div#mainBanner_oneColumn ul li {
    position:absolute;
}

div#mainBanner_oneColumn ul li.show {
	z-index:500
}
div#fancy_wrap, div#fancy_wrap div#fancy_outer {
	z-index:600
}

.kw_zwei_spalten { clear:both; padding-top:20px; overflow:auto; clear:both; }
.kw_zs_links { float:left; display:block; width:140px }
.kw_zs_rechts { margin-left:140px}

/*KW NR ADDON Begin*/

.tx-fedownloads-pi1 { padding-bottom:25px; }
#subMenu39 .tx-indexedsearch-whatis { display:none; }
#subMenu39 .searchHeader { display:none; }
#subMenu39 .tx-indexedsearch-res { display:none; }
#subMenu39 .tx-indexedsearch-browsebox { display:none; }

.newsInfo_content .caption { width:200px; padding-bottom:10px; line-height:16px; }
#mainCon_bottom .contenttable-100 a { color:#000; }
#mainCon_bottom .contenttable-100 a:hover { background:none; }

#mainCon_bottom .contenttable-101 a { color:#d32021; }
#mainCon_bottom .contenttable-101 a:hover { background:#D32021; color:#fff;}
/*KW NR ADDON Begin*/