.dwkheader {
    height:auto;
    width:auto;
    background:#189dd9;
}
.dwkheader_img {
    margin: 0 auto;
    padding: 10px;
}

.TB_modal .dwkheader {

    display: none!important;

}