@charset "utf-8";
* { margin:0; padding:0;border:0;}
body,td,th {font-family:Helvetica, Verdana, Arial;font-size: 11pt;color:black;}
body {background:#fff; line-height:1.5em; color:#000;}
a{ color:#000; text-decoration:underline;}
h1{font-size:200%;color:#000;}
h2{font-size:180%;color:#000;}
h3{font-size:160%;color:#000;}
h4{font-size:140%;color:#000;}
h5{font-size:120%;color:#000;}
h6{font-size:90%;color:#000;}
img{border:0;}
div.product .csc-textpic-text h4 , div#main .bodytext a, div#mainCon_bottom .tx-jppageteaser-pi1-list h1 a, div#mainCon_bottom .tx-jppageteaser-pi1-list h2 a, div#mainCon_bottom .tx-jppageteaser-pi1-list h3 a, div#mainCon_bottom .tx-jppageteaser-pi1-list h4 a, div#mainCon_bottom .tx-jppageteaser-pi1-list h5 a, div#mainCon_bottom .tx-jppageteaser-pi1-list h6 a, div#mainCon_bottom a{color:#000;}
.clear { height:0; clear:both;overflow:hidden;}
#layout { background:#fff; padding:0; width:auto; margin:0;}
#headerTop, #navigation, #mainBanner_twoColumn,#sidebar, #footer, div#sideLeft, div#sideRight, #bcn, #logo h1,#fancy_wrap, #searchBox , .searchHeader, .tx-indexedsearch-browsebox, #fancy_overlay { display:none;}
div#mainCon, div#mainContent { width:auto; padding:0; border:0;}
#mainContent { clear:both;}
#logo  { margin-left:10pt;}
#logo img { display:block;}
.imgBox  { margin-right:48px;height:93px;overflow:hidden;margin-bottom:20px;}
canvas{display:none;}
#groupList ul li h4, #groupList ul li p, #groupList ul li span,#groupList ul li a { display:inherit; float:none; width:auto;}
#groupList ul li h4, #textlist ul li h4 { font-size:140%;}
#groupList h1 { font-size:200%;}
#textlist ul li a, #groupList ul li span a{ color:black; background:none; text-decoration:underline;}
.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap, .csc-textpic-image  {float:left;}
div.csc-textpic-text, div#textlist {width:auto;}
.csc-textpic-center .csc-textpic-imagewrap { clear:both; float:none;padding-top:10px;}
div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image {margin-right:5px;}
div#textlist p {clear:both;}
div.csc-textpic-center {text-align:left;}
.tx-jppageteaser-pi1-list-entry h4 {border:none;}


